/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

// class for the checkbox
.form-style-1 input[type="checkbox"] {
  margin-top: 10px;
  width: 20px !important;
  height: 20px !important;
}
